h1 {
    color:red;
    background-image: url("https://www.animexhomes.com/building-material/img/animex-construction-material-banner.jpg");
    background-size: cover;
    
    border: solid;
    border-color: black;
}



main {
    background-color: aqua;
}

#email {
  
    width:300px;
}

#password, .submitbutton {
   
    width: 300px;
}
#submitbutton {
    margin-top: 30px;
}
