@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body class="body2">
    <form >
        <table class="table">
            <tr>
                <th>User-Name</th>
                <th>User-Email</th>
                <th>New-Password</th>
                <th>Submit</th>


            </tr>
            <tbody>
                @{
                    User user = ViewData["user"] as User;
                  

                        <tr>
                            <td>
                               <input type="text" id="name" value="@user.FirstName" />
                            </td>
                            <td>
                            <input type="text" id="email" value="@user.Email" />
                            </td>
                            <td>
                                <input type="text"  id="newpass"/>
                            </td>
                            <td>
                            <button type="button" id="btn" onclick="updatepass()">Change</button>
                            </td>
                        </tr>    
                }
            </tbody>
        </table>
    </form>
</body>
<script type="text/javascript">

    function updatepass() {

        let user={
            FirstName:$("#name").val(),
            Email:$("#email").val(),
            Password:$("#newpass").val()
        };
       
        console.log(user);

        let promise1 = axios.post("/ForgotPassword/ChangePassword", user);
        promise1.then((response) => {
            var result = response.data;

            if (result != null) {
                console.log(result);
                alert("password Update Succefully");
                window.location.href="/Home/Login";
            }
        });
        promise1.catch((error) => {
            alert("Something Went Wrong");
        });

    }
</script>