@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<div id='about'>
    <center>
    <h1>About Us</h1>
    </center>
    <p id="p">

        we want you to take a moment and look at things around you particularly with a view of how you sourced them. Recollect how
        you bought the clothes that you are wearing, the food that you ordered last night, or the cab that you booked on your last
        drive. We believe, your sourcing behaviour has evolved from sourcing from traditional mom-and-pop shops in the 90s to
        offline aggregators (shopping malls, food courts, etc.) in the 2000s to digital aggregators today. Does it bother you that for
        construction material, you still have to wander the same cluttered streets as you did in the 90s, negotiating for every rupee
        while staying at the mercy of the traditional boutique shop owner to deliver assured goods. For you, we are the online
        shopping mall that guarantees satisfaction across 80+ products, verified (wherever applicable) at our in-house quality testing
        lab and procured from 50+ Trusted sellers across North India.
    </p>
</div>
