
@{
    ViewData["Title"] = "Manager";
}

<center style="background-color:lightgreen">
    <div style="background-color:lightgreen">
              <a href="/Product/AddProduct">Product-Management</a><br />
              <a href="/Category/ShowAllCategory">Category-Management</a><br />
         </div>
</center>